// Footer configuration

footer {
  //   background: #212529;

  .text-small {
    font-size: 0.9rem;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    color: white;
  }

  .form-control {
    background: #212529;
    border-color: #545454;
  }

  .form-control:focus {
    background: #212529;
  }

  .wrap {
    display: flex;
    height: 200px;
    span {
      align-self: flex-end;
    }
  }
}
